<div class="clearfix"></div>
<footer>
	<div class="info">
    <p>Наш адрес:</p>
    <p>г. Ульяновск, ул. Урицкого, 23 432071</p>
    <p class="phone">8 (842) 249-44-22</p>
  </div>
	<div class="menu">
    <ul class="nav">
      [[Wayfinder?
      &startId=`2`
      &level=`1`
      &outerTpl=`tpl.Wayfinder.outer`
      &parentRowTpl=`tpl.Wayfinder.row.parent`
      &innerRowTpl=`tpl.Wayfinder.row.inner`
      &rowTpl=`tpl.Wayfinder.row`                    
      ]]
    </ul>
    <p class="copyright">© 2013 Все права защищены</p>
	</div>
</footer>
