<div class="span3 left-container">
  <div class="header">
    <a href="/" class="logo">
      <img src="[[++assets_url]]template/images/logo.png" alt="" />
    </a>
  </div>

  <div class="left-menu">
    <nav>
      <ul>
        <li class="active current"><a href="#">Горящие туры</a></li>
        <li><a href="#">Пляжный отдых</a></li>
      </ul>
    </nav>
  </div>


  <div class="contacts">
    <span class="phone"><i>8 (495)</i> 232-32-20</span>
    <br />
    <span class="time">С 9:00 до 21:30</span>
  </div>
</div>
