<div class="span3 left-container">
  <div class="header">
    <a href="/" class="logo">
      <img src="[[++assets_url]]template/images/logo.png" alt="" />
    </a>
  </div>

  <div class="left-menu">
    <nav>
      <ul>
        [[Wayfinder?
        &startId=`6`
        &level=`1`
        &outerTpl=`tpl.Wayfinder.outer`
        &parentRowTpl=`tpl.Wayfinder.row.parent`
        &innerRowTpl=`tpl.Wayfinder.row.inner`
        &rowTpl=`tpl.Wayfinder.row`
        ]]
      </ul>
    </nav>
  </div>


  <div class="contacts">
    <span class="phone"><abbr>8 (495)</abbr> 232-32-20</span>
    <br />
    <span class="time">С 9:00 до 21:30</span>
  </div>
</div>
