<div class="slider">
  <div class="slide">
    <img src="[[++assets_url]]template/images/slide.jpg" />
    <a href="/#popup" class="details subitems"></a>
    <div class="info subitems">
      <div class="title">Шарм-Эль-Шейх, Fortuna Sharm El Sheikh 4*</div>
      <div class="stars">[[!Stars? &count=`4`]]</div>
      <div class="text">
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
      </div>
    </div>
  </div>
  <div class="slide">
    <img src="[[++assets_url]]template/images/slide.jpg" />
     <a href="/#popup" class="details subitems"></a>
    <div class="info subitems">
      <div class="title">Шарм-Эль-Шейх, Fortuna Sharm El Sheikh 4*</div>
      <div class="stars">[[!Stars? &count=`4`]]</div>
      <div class="text">
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
      </div>
    </div>
  </div>
  <div class="slide">
    <img src="[[++assets_url]]template/images/slide.jpg" />
      <a href="/#popup" class="details subitems"></a>
    <div class="info subitems">
      <div class="title">Шарм-Эль-Шейх, Fortuna Sharm El Sheikh 4*</div>
      <div class="stars">[[!Stars? &count=`4`]]</div>
      <div class="text">
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
        <p>Вылет из: Москва</p>
      </div>
    </div>
 </div>
</div>
