<div class="tours">
  <div class="column">
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour1.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour2.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour3.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour3.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour1.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour2.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour2.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour3.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
    <div class="tour">
      <div class="foreground"></div>
      <div class="inner-tour">
        <img src="[[++assets_url]]template/images/tour1.jpg" />
        <div class="country abs">Франция</div>
        <div class="hotel abs">Aqua Blue Resort SSH</div>
        <div class="cost abs">от $ 300</div>
      </div>
    </div>
  </div>

</div>
