footer {
  background: #292929;
  height: 84px;
  padding-left: 20px;
}

footer .info {
  font-family: Verdana;
  font-size: 13px;
  color: #595959;
  font-style: italic;
  width: 36%;
  float: left;
}

footer .info p {
  margin: 1px;
}

footer .info .phone {
  color: #848484;
  font-weight: bold;
  font-style: initial;
}

footer .menu {
  height: 100%;
  width: 64%;
  background: #242424;
  margin-left: 36%;
}

footer .menu ul {
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
}
footer .menu li {
  float: left;
}

footer .menu a {
  color: #bababa;
  font-family: Verdana;
  font-size: 12px;
  margin: 5px 5px;
  padding: 5px 10px;
}

footer .menu .nav li.active a,
footer .menu .nav li:hover a{
  background: #242424;
  border: none;
  text-decoration: underline;
}


footer .copyright {
  text-align: right;
  padding-top: 40px;
  color: #4b4b4b;
  margin-right: 15px;
  font-family: Verdana;
  font-size: 12px;
}
