.logo {
  width: 96%;
  display: block;
  margin: 10px auto;
}

.left-menu {
  font-family: Verdana;
  margin: 25px 0;
}

.left-menu ul {
  list-style-type: none;
  margin: 0;
}

.left-menu ul a {
  text-indent: 10px;
  display:block;
  width: 100%;
  line-height: 40px;
  font-family: 'Verdana';
  font-size: 14px;
  color: #8a8989;
  word-wrap: break-word;
}

.left-menu ul li.active a,
.left-menu ul li.active a:hover,
.left-menu ul li.current a {
  text-decoration: none;
  background-color: #fd9527;
  font-weight: bold;
  color: #ffffff;
}

.left-menu ul li a:hover {
  text-decoration: none;
  color: #fd9527;
}


.contacts {
  margin-top: 65px;
  text-align: center;
}

.contacts .phone {
  font-size: 22px;
  font-family: Verdana;
  font-weight: bold;
  color: #fd9527;
}

.contacts .phone abbr {
  font-size: 18px;
  color: #9b9a9a;
}

.contacts .time {
  font-size: 16px;
  color: ##9b9a9a;
}
