.right-container .header {
  background: url('/assets/template/images/header-bg.jpg');
  position:relative;
}

.right-container .header.content-bg,
.right-container .header.category-bg-7,
.right-container .header.category-bg-9,
.right-container .header.category-bg-8,
.right-container .header.category-bg-10,
.right-container .header.category-bg-11,
.right-container .header.category-bg-12,
.right-container .header.category-bg-39
{
  height: 335px;
}
.right-container .header.content-bg { background: url('/assets/template/images/head_bg/content.jpg'); }
.right-container .header.category-bg-7 { background: url('/assets/template/images/head_bg/hot.jpg'); }
.right-container .header.category-bg-9 { background: url('/assets/template/images/head_bg/eks.jpg'); }
.right-container .header.category-bg-8 { background: url('/assets/template/images/head_bg/eks.jpg'); }
.right-container .header.category-bg-10 { background: url('/assets/template/images/head_bg/event.jpg'); }
.right-container .header.category-bg-11 { background: url('/assets/template/images/head_bg/bus.jpg'); }
.right-container .header.category-bg-12 { background: url('/assets/template/images/head_bg/event.jpg'); }
.right-container .header.category-bg-39 { background: url('/assets/template/images/head_bg/hot.jpg'); }


.right-container .header h1 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 28px;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 1px #362f36;
  filter: dropshadow(color=#362f36, offx=2, offy=2);
}

.top-menu nav {
  max-width: 570px;
  height: 60px;
  margin-left: 20px;
  text-transform: uppercase;
}

.top-menu nav .brand {
  width: 31px;
  height: 28px;
  background: url('/assets/template/images/home.png') 0 0 no-repeat;
  margin-top: 15px;
  padding: 0;
  margin-left: 0;
  margin-right: 5px;
  display:block;
}

.top-menu nav .navbar .nav>li>a {
  padding: 20px 8px;
  font-size: 14px;
  background: white;
  box-shadow: none;
}
.top-menu nav .navbar .nav>li>a.active,
.top-menu nav .navbar .nav>li>a:hover {
  color: white;
  text-shadow: none;
  background-color: #fd9527;
  padding: 20px 8px 32px;
}
.top-menu nav .navbar-inner {
  height: 60px;
  padding-right: 0;
}

.top-menu nav .navbar-inner {
  border-radius: 0;
  background: white;
}

.social-links {
  width: 130px;
  margin-top: 10px;
  margin-right: 15px;
  float: right;
}

.social-links a {
  width: 38px;
  height:38px;
  display:inline-block;
}

.social-links a.vk-btn { background: url('/assets/template/images/vk.png'); }
.social-links a.fb-btn { background: url('/assets/template/images/fb.png'); }
.social-links a.mail-btn { background: url('/assets/template/images/email.png'); }
